<%= link_to "ログアウト", logout_path, method: :delete %>
<div class="container">
  <div class="wrapper">
    <h1 class="title">UserProfilePage</h1>
   <div class="personal_profile">
    <div class="name">Name:<%=@user.name%></div>
    <div class="email">Email:<%=@user.email%></div>
    </div>
  </div>
</div>